<div class="home-container">
  <div class="logo">monolangue</div>
    <div class="icon-container">
      <div class="main-icon">
        <img
          src="../../../assets/Images/home-penguin.png"
          alt="a penguin with a star, joystick and book around it"
        />
      </div>

      <div class="home-container__description">
        <p class="text">Unlock Language Mastery with <span>Monolangue</span></p>
        <p class="hidden-text">Get Ready to join other students all over the world to learn Portuguese with Monolangue.</p>
        <div class="primary-btn-container">
            <button class="main-button" 
            (click)="soundEffect.playSound('sound4')" 
            (mouseover)="soundEffect.playSound('sound2')"
            (click)="navigateToLanguage()">
              Get Started
            </button>
          </div>
      </div>
    </div>

   
                
  
</div>
